.btn{
    border: none;
    outline:none;
    padding-inline: 1.5rem;
    padding-block: 0.55rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    transition: all 0.2s ease-in-out;

    &.primary-btn{
        background-color: rgb(176, 38, 38);
        color:whitesmoke;
    }

    &:active{
        transform: scale(0.9);
    }
}